*{
  box-sizing: border-box;
}
html,body {
  margin: 0;
  height: 100%;
}

header{
  width: 100%;
  height: 80px;
  background-color: yellow;
}

section {
  height: calc(100% - 80px);/*Un altro modo per fissare la header e far scorrere la section*/
  overflow-y: auto; /*Vogliamo solo lo scrollamento verticale*/
}

form {
  height: auto; /*In base al contenuto*/
  margin: 20px auto 0 auto;
  box-shadow:  0px 1px 10px 0px darkgrey;
  padding: 20px;
}

form label {
  margin-bottom: 5px;
}

form input[type=text], input[type=email] {
  width: 100%;
  line-height: 2em;
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid grey;

}

form input {
  margin-bottom: 10px;

}
