*{
  box-sizing: border-box;
}

$background-color: #f0f0f0;
$primary-color: purple;
$secondary-color: black;
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;


@mixin clearfix() {
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

@mixin button-hover($color) {
  background: darken($color, 20%);
}

@mixin transition($time){
  transition: all $time ease-in-out;
}



html,body{
  width: 100%;
  height: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  //align-items: center; se vuoi centrarlo anche verticalmente
}

h1{
  text-align: center;
  font-family: $primary-font;
}

.form-container{

  width: 40%;
  //margin: 0 auto; il modo vecchio
  flex-direction: column;

  form{

    box-shadow:  0px 1px 10px 0px darkgrey;
    padding: 10px;
    border-radius: 10px;


    input{
      width: 100%;
      font-family: $secondary-font;
      border: none;
      border-bottom: 1px solid $primary-color;
      background: none;
      margin-bottom: 2px;

      &.formValid{
        border-bottom: 1px solid $primary-color;
        background: none;
      }

      &:focus {
        outline:0;
      }

      &.formInvalid{
        background: lighten(red, 40%);
        border-bottom: 1px solid red;
        &::placeholder {
           color: red;
        }

      }



      // &::placeholder { /* Chrome/Opera/Safari */
      //       color: pink;
      // }
    }

    label{
      font-family: $secondary-font;
    }

    .check{

    }

    @include clearfix();

    button{

      float: right;
      font-family: $secondary-font;
      background-color: $background-color;
      border-radius: 4px;
      margin-top: 10px;
      padding: 7px 15px;

      &:focus {
        outline:0;
      }

      &:hover {
        @include transition(350ms);
        @include button-hover($background-color);
      }



    }
  }

}
